.simulations_header_box {
    background-image: url('../../assets/Vector/schedule-blob.svg');
    background-repeat: no-repeat;
    background-position: -25%;
    background-size: 65% 110%;
}

.simulations_header_box > h1, p {
    font-family: 'Nunito';
}