/* IDs */

#subclass_navbar_bg {
    background: rgb(36,166,55);
    background: linear-gradient(90deg, rgba(36,166,55,1) 0%, rgba(46,171,85,1) 35%, rgba(80,188,185,1) 100%);
}

#subclass_menu_item {
    color: var(--white-color);
}


/* CLASS */
#subclass_menu_item_login {
    margin-left: 1em;
}

.subclass_navbar_brand {
    width: 300px;
    height: 40px;
}

@media (max-width: 1200px) {
    
    #subclass_menu_item_login {
        padding-top: 2em;
        margin-left: 0em;
    }
}